.birdquiz-wrapper {
    height: 30%;
    width: 30%;
    margin: auto;
    background-color: burlywood;
    border-radius: 25px;
    padding: 20px;
} 

.birdquiz-wrapper img {
    height: auto;
    width: 90%;
    border-radius: 15px;
}