.birdItem{
    background-color: rgb(174, 193, 193);
    width: 100%;
    margin-bottom: 2%;
}

.birdImage img{
    padding-top: 5%;
    width: 300px;
    object-fit: contain;
}

.expandable-div {
    width: 100%;
}

.collapsible .content {
    padding: 6px;
    background-color: #eeeeee;
}
.collapsible .header {
    background-color: rgb(150, 162, 162);
    padding: 6px;
    cursor: pointer;
}

.collapsible .header:hover {
    background-color: rgb(97, 97, 100);
}

.wrapper {
    margin: auto;
    width: 40%;
}

.wrapper input {
    margin-bottom: 2%;
    width: 99%;
    height: 40px;
}